<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Paginatejs | Ligne</title>
    <link rel="stylesheet" th:href="@{/resources/table/paginate.css}"></link>
    <link rel="stylesheet" th:href="@{/resources/table/ligne.css}"></link>
    <script type="text/javascript" th:src="@{/resources/table/paginate.js}"></script>

    <style>
        *{
            font-family: sans-serif;
        }
    </style>
</head>
<body>
<div class="container">
    <div>
        <h1>Ligne Paginatejs</h1>
    </div>
    <div class="panel">
        <div class="body">
            <div class="input-group">
                <label for="searchBox">Filtrar</label>
                <input type="search" id="searchBox" placeholder="Filtrar..."></input>
            </div>
        </div>
    </div>
    <table class="myTable table hover">
        <tbody>
          <a th:href= "@{'/'+${controllerName}+'/getSubmittedApplications'}">
                <tr>
            <th>USER ID</th>
            <th>ID</th>
            <th>TITTLE</th>
  
        </tr>
        <th:span th:each="bean : ${beanList}"> 

         
                <tr>
                
                	<th:span th:each="field : ${addFields}">
                
     <td th:text="${bean.__${field}__}" />
    
            </th:span>
                <td>	 <span>
 										<a th:href="@{'/hello'}">hello</a>
 									</span></td>
<!-- <span> <a th:href= "@{'/'+${controllerName}+'/getSubmittedApplications'(id=${bean.id})}">engineer</a></span> -->
 </tr>

        </th:span>
           </a>
        </tbody>
    </table>
</div>
<script>

    let options = {
        numberPerPage:5, //Cantidad de datos por pagina
        goBar:true, //Barra donde puedes digitar el numero de la pagina al que quiere ir
        pageCounter:true, //Contador de paginas, en cual estas, de cuantas paginas
    };

    let filterOptions = {
        el:'#searchBox' //Caja de texto para filtrar, puede ser una clase o un ID
    };

    paginate.init('.myTable',options,filterOptions);
</script>
</body>
</html>