<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>HistoricPaper</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
 


  <!--<link href="appForm.css" rel="stylesheet" media="all">-->
  
<script type="text/javascript" th:src="@{/resources/jsAppForm/cufon-yui.js}"></script>
<script type="text/javascript" th:src="@{/resources/jsAppForm/js/georgiai.js}"></script>
<script type="text/javascript" th:src="@{/resources/jsAppForm/js/cuf_run.js}"></script>


  <!-- Icons font CSS-->
    <link th:href="@{/resources/vendorAppForm/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" media="all"></link>
    <link th:href="@{/resources/vendorAppForm/font-awesome-4.7/css/font-awesome.min.css}" rel="stylesheet" media="all"></link>
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet"></link>

    <!-- Vendor CSS-->
    <link th:href="@{/resources/vendorAppForm/select2/select2.min.css}" rel="stylesheet" media="all"></link>
	<link th:href="@{/resources/vendorAppForm/datepicker/daterangepicker.css}" rel="stylesheet" media="all"></link>
	
	<!-- it appears as white box in the upper left corner of the screen -->
   <!-- <link href="vendorAppForm/datepicker/daterangepicker.css" rel="stylesheet" media="all">-->

	<link th:href="@{/resources/cssAppForm/appFormStyle.css}" rel="stylesheet" type="text/css"></link>
</head>
<body>
<!-- START PAGE SOURCE -->
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="logo">
        <h1><a href="index.html">HistoricPaper<br />
          <small>Best and necessary.</small></a></h1>
      </div>
      <div class="search">

      </div>
      <div class="clr"></div>
      <div class="menu">
        <ul>
          <li><a href="index.html" class="active"><span>Home</span></a></li>
          <li><a href="services.html"><span>Services</span></a></li>
          <li><a href="about.html"><span>About Us</span></a></li>
          <li><a href="contact.html"><span>Contact Us</span></a></li>
        </ul>
      </div>
      <div class="clr"></div>
      <div class="logoimg">
        <h2>You can find more of my free template designs at my website.<br />
          For premium commercial designs, you can check out<br />
          <span>MyWebsite.com.</span></h2>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="body_resize">
	
	<div class="card-body">
                    <h2 class="title">Registration Info</h2>
               
                  <form id="contact" action="#" th:action="@{'/'+${controllerName}+'/submitAdd'+${beanName}}" th:object="${bean}" method="post">   
    <th:span th:each="xmlField : ${xmlFields}">
    <span th:switch="${xmlField.qType}"> 
       <th:span th:case="'text'" >
       <td> <label id="bold" th:text="${xmlField.qContent}"></label></td>
           <div class="input-group">                

<input class="input--style-1" type="text"  th:placeholder="#{I am an answer inside placeholder'}" tabindex="1" autofocus="autofocus" maxlength="30" size="35"/>
<!-- <input class="inputstyle1" type="text"  th:readonly="readonly" th:placeholder="#{__${xmlField.qType}__}" tabindex="1" autofocus="autofocus" th:field="*{__${xmlField.qContent}__}" maxlength="30" size="35"/> -->

</div>
</th:span>	
				
					<th:span th:case="'checkbox'" >
					                       <div class="rs-select2 js-select-simple select--no-search">
                                        <select th:name="gender" th:readonly="readonly">
                                            <option disabled="disabled" selected="selected">GENDER</option>
                                            <option>Male</option>
                                            <option>Female</option>
                                            <option>Other</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
		<!-- 			
           <div class="input-group">                
				

				<input th:text="'I am good'" th:type="'checkbox'" th:name="${xmlField.name}+'Used'" th:value="'true'"/>		
			
				</div> -->
				</th:span>	
	 </span>
  
   </th:span>

                        <div class="input-group">
                       
                            <input class="input--style-1" type="text" placeholder="NAME" name="name"></input>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <input class="input--style-1 js-datepicker" type="text" placeholder="BIRTHDATE" name="birthday"></input>
                                    <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="gender">
                                            <option disabled="disabled" selected="selected">GENDER</option>
                                            <option>Male</option>
                                            <option>Female</option>
                                            <option>Other</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select name="class">
                                    <option disabled="disabled" selected="selected">CLASS</option>
                                    <option>Class 1</option>
                                    <option>Class 2</option>
                                    <option>Class 3</option>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <input class="input--style-1" type="text" placeholder="REGISTRATION CODE" name="res_code"></input>
                                </div>
                            </div>
                        </div>
                        <div class="p-t-20">
                            <button class="btn btn--radius btn--green" type="submit">Submit</button>
                        </div>
                     
                    </form>
                </div>
						
      <div class="right">


      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="FBG_resize"><img src="/resources/images/search_img.gif" alt="" width="931" height="20" /></div>

  <div class="footer">
    <div class="footer_resize">
      <p class="lf">Copyright &copy; 2010 <a href="#">SiteName</a> - All Rights Reserved</p>
      <p class="rf">Design by <a href="http://www.hotwebsitetemplates.net">Hot Website Templates</a></p>
      <div class="clr"></div>
    </div>
    <div class="clr"></div>
  </div>
</div>

    <!-- Jquery JS-->
    <script src="@{/resources/vendorAppForm/jquery/jquery.min.js}"></script>
    <!-- Vendor JS-->
    <script th:src="@{/resources/vendorAppForm/select2/select2.min.js}"></script>
	    <script th:src="@{/resources/vendorAppForm/datepicker/daterangepicker.js}"></script>
		<script th:src="@{/resources/vendorAppForm/datepicker/moment.min.js}"></script>
  
    <!-- Main JS-->
    <script src="@{/resources/jsAppForm/global.js}"></script>
<!-- END PAGE SOURCE -->
</body>
</html>
