<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="keywords" content="" />
<meta name="author" content="" />
<meta name="robots" content="" />
<meta name="description" content="Orange Corners" />
<meta property="og:title" content="Orange Corners" />
<meta property="og:description" content="Orange Corners" />
<meta property="og:image" content="Orange Corners" />
<meta name="format-detection" content="telephone=no" />

<!-- FAVICONS ICON -->
<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />

<!-- PAGE TITLE HERE -->
<title>249 Platform</title>

<!-- MOBILE SPECIFIC -->
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- STYLESHEETS -->
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/JobBoardTemplate/css/plugins.css}"></link>
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/JobBoardTemplate/css/style.css}"></link>
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/JobBoardTemplate/css/template.css}"></link>
<link class="skin" rel="stylesheet" type="text/css"
	th:href="@{/resources/JobBoardTemplate/css/skin-1.css}"></link>
<link rel="stylesheet"
	th:href="@{/resources/JobBoardTemplate/css/bootstrap-datetimepicker.min.css}"></link>
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/JobBoardTemplate/css/layers.css}"></link>
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/JobBoardTemplate/css/settings.css}"></link>
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/JobBoardTemplate/css/navigation.css}"></link>
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/JobBoardTemplate/plugins/themify-icons.css}"></link>

<link rel="stylesheet"
	th:href="@{/resources/jsAppForm/daterangepicker.css}" media="all"></link>
<!-- rel="stylesheet" media="all" -->

<!-- STYLESHEETS -->
</head>
<body id="bg">
	<div id="loading-area"></div>
	<div class="page-wraper">
		<!-- header -->
		<header class="site-header mo-left header fullwidth">
			<!-- main header -->
			<div class="sticky-header main-bar-wraper navbar-expand-lg">
				<div class="main-bar clearfix">
					<div class="container clearfix">
						<!-- website logo -->
						<div class="logo-header mostion">
							<a><img
								th:src="@{/resources/JobBoardTemplate/images/rsz_1log_2_paint.jpg}"></img></a>

						</div>
						<!-- nav toggle button -->
						<!-- nav toggle button -->
						<!--                    <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button> -->

						<!-- Quik search -->
						<div class="dez-quik-search bg-primary">
							<form action="#">
								<input name="search" value="" type="text" class="form-control"
									placeholder="Type to search"></input> <span
									id="quik-search-remove"><i class="flaticon-close"></i></span>
							</form>
						</div>
						<!-- main nav -->
						<div
							class="header-nav navbar-collapse collapse justify-content-start"
							id="navbarNavDropdown">
							<ul class="nav navbar-nav">
								<li><a href="#">Home</a></li>
								<li><a href="#">Investors</a></li>
								<li><a href="#">Startups</a></li>
								<li><a href="#">Talents</a>
									<ul class="sub-menu">
										<li><a th:href="'/Form_v_1.0/TalentController/addTalent'"
											class="dez-page">Create Profile</a></li>
									</ul></li>

								<li><a>Opportunities</a></li>

								<li></li>
								<li><a th:href="'/Form_v_1.0/ApplicationController/login'">login</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- main header END -->
		</header>

		<div class="page-content bg-white">
			<!--  <img th:src="@{/resources/JobBoardTemplate/images/y.jpg}"></img> -->

			<div class="content-block">
				<div class="section-full bg-white browse-job content-inner-2">
					<div class="container">



						<div class="form-group">
							<div class="dez-divider divider-2px bg-gray-dark mb-4 mt-0"></div>
							<h5 class="font-weight-600" th:text="${message1}"></h5>
							<h5 class="font-weight-600" th:text="${message2}"></h5>
							<div class="dez-divider divider-2px bg-gray-dark mb-4 mt-0"></div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- Content END-->
	<!-- Footer -->
	<footer class="site-footer"> </footer>
	<!-- Footer END -->
	<button class="scroltop fa fa-chevron-up"></button>



	<!-- JAVASCRIPT FILES ========================================= -->
	<script th:src="@{/resources/JobBoardTemplate/js/jquery.min.js}"></script>
	<!-- JQUERY.MIN JS -->
	<script th:src="@{/resources/JobBoardTemplate/js/wow.js}"></script>
	<!-- WOW JS -->
	<script th:src="@{/resources/JobBoardTemplate/js/popper.min.js}"></script>
	<!-- BOOTSTRAP.MIN JS -->
	<script th:src="@{/resources/JobBoardTemplate/js/bootstrap.min.js}"></script>
	<!-- BOOTSTRAP.MIN JS -->
	<script
		th:src="@{/resources/JobBoardTemplate/js/bootstrap-select.min.js}"></script>
	<!-- FORM JS -->
	<script
		th:src="@{/resources/JobBoardTemplate/js/jquery.bootstrap-touchspin.js}"></script>
	<!-- FORM JS -->
	<script th:src="@{/resources/JobBoardTemplate/js/waypoints-min.js}"></script>
	<!-- WAYPOINTS JS -->
	<script th:src="@{/resources/JobBoardTemplate/js/counterup.min.js}"></script>
	<!-- COUNTERUP JS -->
	<script th:src="@{/resources/JobBoardTemplate/js/imagesloaded.js}"></script>
	<!-- IMAGESLOADED -->
	<script th:src="@{/resources/JobBoardTemplate/js/masonry-3.1.4.js}"></script>
	<!-- MASONRY -->
	<script th:src="@{/resources/JobBoardTemplate/js/masonry.filter.js}"></script>
	<!-- MASONRY -->
	<script th:src="@{/resources/JobBoardTemplate/js/owl.carousel.js}"></script>
	<!-- OWL SLIDER -->
	<script th:src="@{/resources/JobBoardTemplate/js/rangeslider.js}"></script>
	<!-- Rangeslider -->
	<script th:src="@{/resources/JobBoardTemplate/js/custom.js}"></script>
	<!-- CUSTOM FUCTIONS  -->
	<script th:src="@{/resources/JobBoardTemplate/js/dz.carousel.js}"></script>
	<!-- SORTCODE FUCTIONS  -->
	<script th:src="@{/resources/JobBoardTemplate/js/dz.ajax.js}"></script>
	<!-- CONTACT JS  -->
	<script th:src="@{/resources/JobBoardTemplate/js/skrollr.min.js}"></script>
	<!-- PAROLLER -->

	<script th:src="@{/resources/jsAppForm/global.js}"></script>
	<script th:src="@{/resources/jsAppForm/daterangepicker.js}"></script>


</body>


</html>
