<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
    <body>
        <h1 id="banner">Login to Security Demo</h1> 
      
        <form name="f" action="#" th:action="@{'j_spring_security_check'}" method="post">
            <table>
                <tr>
                    <td>Username:</td>
                    <td><input type='text' name='j_username'></input></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type='password' name='j_password'></input></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan='2'><input name="submit" type="submit"></input>&nbsp;<input name="reset" type="reset"></input></td>
                </tr>
            </table>
        </form>
    </body>
</html>