<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
			http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-3.1.xsd
			http://www.springframework.org/schema/jdbc 
			http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
			http://www.springframework.org/schema/data/jpa
   			http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
			http://www.springframework.org/schema/util 
			http://www.springframework.org/schema/util/spring-util-3.1.xsd">

	<context:property-placeholder
		properties-ref="deployProperties" />

	<tx:annotation-driven transaction-manager="transactionManager" />


<!-- 
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="oracle.jdbc.OracleDriver" />
		<property name="url"
			value="jdbc:oracle:thin:@localhost:1521:orcl" />
		<property name="username" value="system" />
		<property name="password" value="Aisha123" />
	</bean> -->
	
	
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/AISHA" />
		<property name="user" value="root" />
		<property name="password" value="123456" />
		 <!-- these are C3P0 properties -->
        <property name="minPoolSize" value="3" />
        <property name="maxPoolSize" value="30" />
        <property name="maxIdleTimeExcessConnections" value="240" />
        <!-- Test the idle connections every 5 minutes (300)-->
        <property name="idleConnectionTestPeriod" value="300" />
        <property name="preferredTestQuery" value="select 1 from DUAL" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		
		<property name="hibernateProperties">

			<props>
				<prop key="hibernate.connection.Charset">utf8mb4</prop>

<prop key="hibernate.connection.characterEncoding">UTF-8</prop>
<prop key="hibernate.connection.useUnicode">true</prop>
<prop key="hibernate.dialect">${app.jdbc.dialect}</prop>
<!-- 				when you want to show sql in console or catalina.out -->
<!-- 				<prop key="hibernate.show_sql">true</prop> -->
<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.dbcp.initialSize">8</prop>
				<prop key="hibernate.dbcp.maxActive">20</prop>
				<prop key="hibernate.dbcp.maxIdle">50</prop>
				<prop key="hibernate.dbcp.minIdle">0</prop>
				<prop key="hibernate.default_schema">AISHA</prop> 
			</props>
		</property>
		<property name="MappingResources">
			<list>
			<value>hibernate/Talent.hbm.xml</value>
			<value>hibernate/Investor.hbm.xml</value>
			<value>hibernate/PlatformUser.hbm.xml</value>
			<value>hibernate/Program.hbm.xml</value>
			<value>hibernate/Application.hbm.xml</value>
			<value>hibernate/Startup.hbm.xml</value>
			<value>hibernate/Complain.hbm.xml</value>
			<value>hibernate/Resource.hbm.xml</value>
			<value>hibernate/Package.hbm.xml</value>
			<value>hibernate/Subscription.hbm.xml</value>
			<value>hibernate/Connection.hbm.xml</value>
			<value>hibernate/Event.hbm.xml</value>
			</list>
		</property>

	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager"
		p:sessionFactory-ref="sessionFactory">
	</bean>
</beans>